.todoForm {
  margin: 10px 0;
}
.todoForm li {
  display: flex;
  margin-bottom: 4px;
}
.todoForm .tit {
  width: 100px;
  padding: 4px 0;
  flex-shrink: 0;
}
.todoForm .data {
  width: calc(100% - 100px);
}

input,
textarea {
  display: inline-block;
  width: 100%;
  padding: 4px 4px;
  border-radius: 0;
  border: 1px solid #000;
  font-size: 16px;
  vertical-align: top;
}
input {
  padding: 0 4px;
  height: 24px;
  display: inline-flex;
  align-items: center;
}
textarea {
  resize: none;
  height: 100px;
}
.btnArea {
  width: 100%;
  text-align: center;
}
