.todoList {
  width: 500px;
  margin-top: 10px;
}
.todoList li {
  position: relative;
  min-height: 24px;
  margin-bottom: 8px;
  padding: 8px 100px 8px 8px;
  border: 1px solid #e9e9e9;
}
.todoList label {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.todoList input {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}
.todoList .field {
  display: flex;
}
.todoList .tit {
  width: 100px;
  flex-shrink: 0;
}
.todoList .data {
  width: calc(100% - 100px);
  word-wrap: break-word;
}

.todoList .tit,
.todoList .data {
  padding: 2px 0;
}
.todoList .btn {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-13px);
  z-index: 1;
  display: flex;
  gap: 4px;
}
