.wrap {
  width: 400px;
  padding: 14px;
}

.notFoundPage {
  width: 480px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    margin: 15px auto;
  }
  button {
    width: 100px;
    margin: 30px auto;
  }
}
.todoWrap {
  overflow-y: scroll;
  border: 1px solid black;
  margin-top: 10px;
  width: 500px;
  height: 450px;
}
.todoList {
  li {
    position: relative;
    min-height: 24px;
    margin-bottom: 8px;
    padding: 8px 100px 8px 8px;
    border: 1px solid #e9e9e9;

    &:nth-child(10n) {
      background-color: lightcyan;
    }
  }
  label {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }
  input {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
  }
  .field {
    display: flex;
  }
  .tit {
    width: 100px;
    flex-shrink: 0;
  }
  .data {
    width: calc(100% - 100px);
    word-wrap: break-word;
  }

  .tit,
  .data {
    padding: 2px 0;
  }
  .btn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-13px);
    z-index: 1;
    display: flex;
    gap: 4px;
  }
}
.observerTarget {
  height: 20px;
}

.todoForm {
  margin: 10px 0;
  input,
  textarea {
    display: inline-block;
    width: 100%;
    padding: 4px 4px;
    border-radius: 0;
    border: 1px solid #000;
    font-size: 16px;
    vertical-align: top;
  }
  input {
    padding: 0 4px;
    height: 24px;
    display: inline-flex;
    align-items: center;
  }
  textarea {
    resize: none;
    height: 100px;
  }
  li {
    display: flex;
    margin-bottom: 4px;
  }
  .tit {
    width: 100px;
    padding: 4px 0;
    flex-shrink: 0;
  }
  .data {
    width: calc(100% - 100px);
  }
}
.btnArea {
  width: 100%;
  text-align: center;
}
